
{% block dropzoneS3File_row %}
    {{ form_label(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endblock %}

{% block dropzoneS3File_widget %}
    {% spaceless %}
        <div class="dropzoneBundle-area-{{ id }}" {{ block('widget_attributes') }} >
            {#{%- set type = 'hidden' -%}#}
            {#{{- block('form_widget_simple') -}}#}
            <input type="hidden"  {{ block('widget_attributes') }}  class="dropzoneBundle-area-field" value="{{ value }}" />


            <div class="dropzone-selected-file current-file">
                {% if value %}
                <div class="dz-preview dz-processing dz-image-preview dz-success">
                    <div class="dz-details">
                        <div class="dz-filename"><span data-dz-name=""><i class="ti ti-clip"></i> {{ value|split('/')|last }}</span></div>
                        {% if value matches '/\.(jpg|jpeg|png|gif)(?:[\?\#].*)?$/i' %}
                            <img data-dz-thumbnail="" alt="image" src="{{ value }}">
                        {% endif %}
                    </div>

                    <a href="javascript:undefined;" class="dz-preset-field-remove">Rimuovi</a>
                </div>
                {% endif %}

            </div>
            <div class="dropzone-container">

                <div  class="dropzonez dropzone"></div>
            </div>
        </div>
        <script>

            console.log($('.dropzoneBundle-area-{{ id }}'));


            Dropzone.autoDiscover = false;

            $('.dropzoneBundle-area-{{ id }}').dropzoneBundle({
                'url': '{{ endpoint }}{{ bucket }}',
                'autoDiscover': false,
                'acceptedFiles': "{{ acceptedFiles }}",
                'maxFiles': 1,
                'addRemoveLinks': true,
                'maxFilesize': {{ maxFilesize }},
                'dictDefaultMessage': '{{ "DropzoneBundle.dictDefaultMessageSingle"|trans }}',
                'dictFallbackMessage': '{{ "DropzoneBundle.dictFallbackMessage"|trans }}',
                'dictInvalidFileType': '{{ "DropzoneBundle.dictInvalidFileType"|trans }}',
                'dictFileTooBig': '{{ "DropzoneBundle.dictFileTooBig"|trans }}',
                'dictResponseError': '{{ "DropzoneBundle.dictResponseError"|trans }}',
                'dictCancelUpload': '{{ "DropzoneBundle.dictCancelUpload"|trans }}',
                'dictCancelUploadConfirmation': '{{ "DropzoneBundle.dictCancelUploadConfirmation"|trans }}',
                'dictRemoveFile': '{{ "DropzoneBundle.dictRemoveFile"|trans }}',
                'dictMaxFilesExceeded': '{{ "DropzoneBundle.dictMaxFilesExceeded"|trans }}',
                'accessKey': '{{ accessKey }}',
                'acl': '{{ acl }}',
                'successStatus': '{{ successStatus }}',
                'policy': '{{ policy }}',
                'signature': '{{ signature }}',
                'directory': '{{ directory }}'
            });


        </script>


    {% endspaceless %}
{% endblock %}

